  <br>
  <br>
  <br><div class='mydata'><p style="text-align: right;padding-right: 160px;">Education for Everyone Everywhere</p></div>
  <div class='container' style="font-size: smaller;">
    <div class='row'>
      <div class="col-md-2">
        <a routerLink='./' class="btn btn-default" style="background-color: bisque;border-radius: 5px;">&#9751; Home</a>
      </div>
      <div class="col-md-2">
        <a routerLink='./news' class="btn btn-default" style="background-color: bisque;border-radius: 5px;">&#x23F2; Newsletter</a>
      </div>
      <div class="col-md-2">
        <a routerLink='./programs' class="btn btn-default" style="background-color: bisque;border-radius: 5px;">&#9776; Programs</a>
      </div>
      <div class="col-md-2">
        <a routerLink='./faculty' class="btn btn-default" style="background-color: bisque;border-radius: 5px;">&#9787; Faculty</a>
      </div>
      <div class="col-md-2">
        <a routerLink='./admission' class="btn btn-default" style="background-color: bisque;border-radius: 5px;">&#9755; Admission</a>
      </div>
      <div class="col-md-2">
        <a routerLink='./contact' class="btn btn-default" style="background-color: bisque;border-radius: 5px;">&#9742; Contact Us</a>
      </div>
    </div>
  </div>
  <br>
<router-outlet></router-outlet>