<style>
    a {
        font: small;
    }
</style>
<div class='news' >
    <div class="container" style="background-color: white;padding-right: 15px;padding-left: 15px;border:2px solid black; border-radius: 5px;">
        <div class="row">
            <div class="col-md-9">
                <p style="color: rgb(241, 110, 110);">Welcome {{ getPerson() }} ! to RockFord</p>
                <h2>NewsLetter</h2>
                <p style="font-size: small;">The Library of Congress Teaching with Primary Sources Program at Rockford University produces a quarterly newsletter that focuses on our program’s events and news. We also highlight important information from the Library of Congress.
                    </p>
                    <div class="row" style="background-color:ivory">
                        <p style="font-size: small;">Use links to access the Newsletters</p>
                        <div class="col-md-1"></div>
                        <div class="col-md-9"><a href="./assets/august.pdf">&#8594;August 2016</a> <br>
                        <a href="./assets/august.pdf">&#8594;September 2016</a><br>
                        <a href="./assets/august.pdf">&#8594;October 2016</a><br>
                        <a href="./assets/august.pdf">&#8594;November 2016</a><br>
                        <a href="./assets/august.pdf">&#8594;December 2016</a><br></div>
                    </div>
            </div>
            <div class="row">
                <h2>TPS Journal</h2>
                <p style="font-size: small;">The TPS Journal is an online publication created by the Library of Congress Educational Outreach Division in collaboration with the TPS Educational Consortium. Published quarterly, each issue focuses on pedagogical approaches to teaching with Library of Congress digitized primary sources in K-12 classrooms.
                </p>
            </div>
            <div class="row">
                <h2>TPS Educational Consortium
                </h2>
                <p style="font-size:small;">Members of the Teaching with Primary Sources (TPS) Educational Consortium assist in the design of the TPS program and offer TPS professional development on an ongoing basis, year round.

                    Visit <a href='loc.gov/teachers/tps/consortium/'>loc.gov/teachers/tps/consortium/</a> to view a list of current Consortium members and their respective states.</p>
            </div>
        </div>
    </div>
    </div>