<div class='programs'>
    <div class="container" style="background-color: lightskyblue; border-radius: 10px; border: 2px solid black;">
        <div class="row">
            <div class="row" style="margin:3px;background-color: white; border-radius: 10px; border: 2px solid black;">
                <h1 style="font-family: fantasy;color: blueviolet;">Online programs</h1>
                <h3>Now Online Programs Available. Hurry And Register now!!!</h3>
                <p style="font-size: small;">
                </p>
                <div class="row">
                    <p style="font-size: medium; font-weight: bold;">Business in Society</p>
                    <p style="font-size: smaller;">Enhance your business skills. Move into a Entrepreneur role.
                    <br>
                    <b>Start date</b> : November 12<sup>th</sup> 2021
                    <br>
                    <b>Course fee</b> : {{567 | currency : 'USD':'symbol'}}
                    </p>
                </div>
                <div class="row">
                    <p style="font-size: medium; font-weight: bold;"> Global Business</p>
                    <p style="font-size: smaller;">Global Business will help you assess opportunities, manage risk, and create and capture value for your organization. Explore the economic, political, and social factors driving change, and learn how decisions affect global markets—and your business.
                    <br>
                    <b>Start date</b> : November 12<sup>th</sup> 2021
                    <br>
                    <b>Course fee</b> : {{567 | currency : 'USD':'symbol'}}
                    </p>
                </div>
                <div class="row">
                    <p style="font-size: medium; font-weight: bold;">Sustainable Business Strategy</p>
                    <p style="font-size: smaller;">Sustainable Business Strategy illustrates how businesses can thrive and grow while simultaneously solving some of the world’s biggest challenges—and how you, as an individual, can make a difference.
                    <br>
                    <b>Start date</b> : November 12<sup>th</sup> 2021
                    <br>
                    <b>Course fee</b> : {{567 | currency : 'USD':'symbol'}}
                    </p>
                </div>
            </div>
            <div class="row" style="margin:3px;background-color: white; border-radius: 10px; border: 2px solid black;">
                <h1 style="font-family: fantasy;color: blueviolet;">Campus programs</h1>
                <h3>Rock Solid Graduate Studies for more than 60 Years</h3>
                <p style="font-size: small;">
                    Right here. Right now. Right for you. Discover opportunities for graduate study in business and education in Rockford. Advance your career. Take the next step today. 
                    Find a sound academic tradition through small classes with professional, experienced, and dedicated faculty that provide our graduate students with a quality learning experience. Degree options include Master of Business Administration (MBA), Master of Arts in Teaching (MAT), and Master of Education (M.Ed.).</p>
                <div class="row">
                    <p style="font-size: medium; font-weight: bold;">Master of Business Administration (MBA)</p>
                    <p style="font-size: smaller;">Enhance your business skills. Move into a leadership role.
                    <br>
                    <b>Start date</b> : January 1<sup>st</sup> 2022
                    <br>
                    <b>Course fee</b> : {{1234 | currency : 'USD':'symbol'}}
                    </p>
                </div>
                <div class="row">
                    <p style="font-size: medium; font-weight: bold;">Master of Arts in Teaching (MAT)</p>
                    <p style="font-size: smaller;">Pursue your calling. Become a teacher.
                    <br>
                    <b>Start date</b> : January 1<sup>st</sup> 2022
                    <br>
                    <b>Course fee</b> : {{1234 | currency : 'USD':'symbol'}}</p>
                </div>
                <div class="row">
                    <p style="font-size: medium; font-weight: bold;">Master of Education (M.Ed.)</p>
                    <p style="font-size: smaller;">Enhance your teaching career. Add new skills.
                    <br>
                    <b>Start date</b> : January 1<sup>st</sup> 2022
                    <br>
                    <b>Course fee</b> : {{1234 | currency : 'USD':'symbol'}}</p>
                </div>
                <div class="row">
                    <a style="font-size: smaller;" href="http://localhost:4200/admission">For Registration click on here</a>
                </div>
                </div>
        </div>
    </div>
</div>